<section class="flex-row-cc">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Storage Facade Presenter
      </mat-card-title>
      <mat-card-subtitle>
        Storage {{ loaded ? 'Loaded' : 'Not Loaded' }}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h3>Storage Entries</h3>
      <mat-list>
        <mat-list-item *ngFor="let entry of entriesAsArray">
          <section class="flex-row-cs">
            <i>{{entry[0]}}:</i>
            <span style="flex: 1"></span>
            <b>{{entry[1]}}</b>
            <span style="flex: 1"></span>
            <button mat-button color="warn" (click)="remove([entry[0]])">DELETE</button>
          </section>
        </mat-list-item>
      </mat-list>
      <h3>Add Storage Entry</h3>
      <form [formGroup]="saveForm">
        <mat-form-field>
          <input matInput type="text" placeholder="Entry Key *" formControlName="key">
          <mat-error *ngIf="keyControl.invalid && keyControl.hasError('required')">An Entry Key is required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" placeholder="Entry value *" formControlName="value">
          <mat-error *ngIf="valueControl.invalid && valueControl.hasError('required')">An Entry Value is required</mat-error>
        </mat-form-field>
        <button mat-button color="primary" (click)="save()" [disabled]="saveForm.invalid">SAVE</button>
      </form>
    </mat-card-content>
    <mat-card-actions class="flex-row-cs">
      <button mat-button color="primary" (click)="load()" [disabled]="!loadClosed">LOAD</button>
      <button mat-button color="warn" (click)="clear()" [disabled]="!clearClosed">CLEAR</button>
    </mat-card-actions>
  </mat-card>
</section>
