<section class="flex-row-cc">
  <mat-tab-group mat-align-tabs="end" animationDuration="350ms">

    <mat-tab label="LOGGER">
      <app-logger-facade-container></app-logger-facade-container>
    </mat-tab>

    <mat-tab label="TOAST">
      <app-toast-facade-container></app-toast-facade-container>
    </mat-tab>

    <mat-tab label="STORAGE">
      <app-storage-facade-container></app-storage-facade-container>
    </mat-tab>

    <mat-tab label="SAMPLES">
      <app-sample-flows-facade-container></app-sample-flows-facade-container>
    </mat-tab>

  </mat-tab-group>
</section>
