<app-logger-facade-presenter

  [logClosed]="!logEngine || (!(logEngine.isRunning$|async) && !(logEngine.isPaused$|async))"
  [logPaused]="logEngine && (logEngine.isPaused$|async)"

  (logEvt)="log($event)"
  (pauseLogEvt)="pauseLog()"
  (resumeLogEvt)="resumeLog()"
  (cancelLogEvt)="cancelLog()"


  [errorClosed]="!errorEngine || (!(errorEngine.isRunning$|async) && !(errorEngine.isPaused$|async))"
  [errorPaused]="errorEngine && (errorEngine.isPaused$|async)"

  (errorEvt)="error($event)"
  (pauseErrorEvt)="pauseError()"
  (resumeErrorEvt)="resumeError()"
  (cancelErrorEvt)="cancelError()"

></app-logger-facade-presenter>
